body {
	max-width: 50em; /*1em = 16px. 50em = 800px retina skjár: 50em = 1600px*/
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 1em auto; /* 1em = 16px 1em top+bottom - left+right*/
	padding: 1em; 
	border: 1px solid red;
}
h1 {
	color:rgb(31, 71, 20);
	font-variant: small-caps;
}
h2, strong {
	color: #800; /* #88 00 00  = RGB rgb(128, 0, 0) */
}
em {
	color: rgb(41, 33, 151);
}
a {
	color: green;
	font-style: italic;
}
a:hover {
	background-color: yellow;
}

.graenn{
	color: green;
}
.lennon p {
	color: blue;
	font-style: italic;
}


